*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}

/* Header section Start*/
header{
  background-color: rgb(11, 11, 68);
  display: flex;
 align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}
  /* Logo Start */
header .logo{
  width: 20%;
}

img{
  width: 200px;
}

/* Logo End */

/* Menu Start */

header .navbar{
  width: 79%;
  text-align: center;
}

header a{
  text-decoration: none;
  color: white;
  font-size: 25px;
  padding: 10px;
  margin-right: 10px;
}
/* Menu End */

/* Header section End*/

/* Banner section Start  */

#banner{
  background-color: beige;
  /* height: 100vh; */
  display: flex;
  align-items: center;
}

/* Banner Text Start */
.banner-text{
  width: 40%;
  padding: 0 200px;
}
.banner-text h2{
  font-size: 70px;
}
.banner-text h4{
  font-size: 40px;
  font-weight: 500;
  padding: 20px 0;
}
.social-icon i{
  font-size: 50px;
  
}
.commone-btn{
  width: 300px;
  padding: 20px;
  font-size: 30px;
  font-weight: 600;
  background: linear-gradient(45deg, rgb(35, 35, 251), rgb(240, 49, 230));
  color: #fff;
  margin-top: 20px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  letter-spacing: 4px;
}

/* Banner Text End */
/* Banner Image Start */
.banner-image{
  width: 60%;
}

.banner-image img{
  width: 100%;
}
/* Banner Image End */

/* Banner section End  */

/*  Counter Section Start  */


#counter{
  width: 80%;
  margin: auto;
  padding: 50px;
}

#counter h3{
  text-align: center;
  font-size: 30px;
}

#counter .singlecounter{
  text-align: center;
  width: 25%;
  background-color: rgb(211, 245, 233);
  padding: 50px;
}
#counter .singlecounter h2{
  font-size: 50px;
  margin-bottom: 10px;
  background: linear-gradient(45deg, rgb(35, 35, 251), rgb(240, 49, 230));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#counter .singlecounter h5{
  font-size: 20px;
}
.counterbox{
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

/*  Counter Section End  */

/*  AboutUs Section Start  */


.about-us{
  width: 80%;
  padding: 50px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  
}

.about-img{
  width: 48%;
  
}
.about-img img{
  width: 100%;
  border-radius: 50%;
}

.about-text{
  width: 48%;
  padding: 30px;
}
.about-text h3{
  letter-spacing: 5px;
  font-size: 20px;
}
.about-text hr{
  width: 12%;
  margin: 10px 0;
}
.about-text h2{
  font-size: 40px;
}

.about-text p{
  font-size: 20px;
  padding: 10px 0;
  color: #868585;
}

/*  AboutUs Section End  */

/* Course Section Start */
#courses{
  width: 80%;
  margin: 50px auto;
  
  padding: 10px;
}
.course-title{
  text-align: center;
}
.course-title h3{
  letter-spacing: 5px;
  font-size: 20px;
  color: #5e5e5e;
}
.course-title p{
  font-size: 30px;
  font-weight: 500;
}
.course-title p span{
  background: linear-gradient(45deg, rgb(35, 35, 251), rgb(240, 49, 230));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.course-container{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
.single-course{
  width: 31%;
  text-align: center;
  padding: 50px;
  box-shadow: 5px 0px 10px #ddd;
  border-radius: 5px 30px ;
  transition: .5s;
}
.single-course img{
  width: 100px;
}
.single-course:hover{
  
  background-color: rgb(168, 249, 222);
 
}
.single-course h2{
  margin: 10px 0;
}
.single-course p{
  margin: 10px 0;
  font-size: 18px;
  color: #5e5e5e;
}
.orderbtn{
  font-size: 20px;
  width: 200px;
}

/* Course Section End */



